@import "mixin";

* {
margin: 0;
padding: 0;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;

    .header-bookread {
        background-color: #10BBD5;
        display: flex;
        padding: 16px 52px;
        justify-content: space-between;
        align-items: center;

        .price-cart {
            display: flex;
            align-items: center;
            gap: 8px;

            .price {
                @include text-decoration(white);
            }

            .cart {
            background-image: url(../images/cart_icon.png);
            width: 40px;
            height: 40px;
            border: none;
            background-color: transparent;
            color: #000;
            font-family: Cabin;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 10px;
            padding: 12px 12px 18px 19px;

            }
        }
    }

    .header-categories {
        display: flex;
        justify-content: space-between;
        padding-left: 52px;
        padding-right: 52px;
        background-color: #FFFFFF;

        &__shop {
        @include text-decoration(black);
        }

        .nav-menu__list {
            list-style: none;
            display: flex;
            gap: 40px;

            .list-item__link {
            @include text-decoration(black);
            }
        }
    }
}

main {

background-color: #EEEEEF;

    .container {
        width: 1400px;
        margin: 0 auto;
        box-sizing: border-box;

        &__bestsellers-heading {
            color: #1F1F1F;
            font-family: Cabin;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px;
            padding-bottom: 22px;
            padding-top: 32px;
            border-bottom: 2px solid #A8A8A8;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 20px;
            row-gap: 30px;
            padding-top: 22px;
            padding-bottom: 120px;

            .book-card {
                display: flex;
                flex-direction: column;
                padding: 32px;
                border: 2px solid #A8A8A8;
                background-color: #F8FDFE;

                &__image-wrap {
                    display: flex;
                    justify-content: center;
                    position: relative;

                    .image-wrap__item {
                        width: 178px;
                        height: 280px;
                    }

                .hit-block {
                    position: absolute;
                    width: 20px;
                    height: 24px;
                    padding: 4px 8px;
                    background-color: #4200FF;
                    color: #F8FDFE;
                    border: none;
                    border-radius: 4px;
                    align-content: center;
                    left: 14px;
                }

                .new-block {
                    width: 31px;
                    height: 24px;
                    padding: 4px 8px;
                    background-color: #AF39E7;
                    color: #F8FDFE;
                    border: none;
                    border-radius: 4px;
                    align-content: center;
                    position: absolute;
                    left: 12px;
                }

                .discount-block {
                    width: 54px;
                    height: 24px;
                    padding: 4px 8px;
                    background-color: #EA33C0;
                    color: #F8FDFE;
                    border: none;
                    border-radius: 4px;
                    align-content: center;
                    position: absolute;
                    left: 53px;
                }

                .discount-block.digital {
                    left: 62px;
                }

                .discount-block.stoics {
                    left: 18px;
                }
                }

                h4 {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-family: Cabin;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px;
                    width: 242px;
                    border-bottom: 1px solid #A8A8A8;

                    a {
                        color: black;
                    }
                }
                &__author-name {
                    margin: 0;
                    color: #8E8E8E;
                    font-size: 16px;
                    font-family: Cabin;
                    font-weight: 400;
                    line-height: 24px;
                }

                .book-card-info__book-card-price {
                    @include book-price(#E90000);

                }
                .prices {
                    display: flex;
                    gap: 24px;

                    &__book-card-price {
                        @include book-price(#E90000);

                    }

                    &__book-card-oldprice {
                        @include book-price(#8E8E8E);
                        text-decoration: line-through;
                    }
                }

                .button--add {
                    @include btn(#4C394E);
                }

                .button--end {
                    @include btn(#4D762D);
                }
            }
        }

    }

    .chat {
        border: none;
        background-color: #10BBD5;
        border-radius: 50%;
        width: 64px;
        height: 64px;
        position: fixed;
        right: 28px;
        bottom: 0;
    }
}

footer {
    display: flex;
    background-color: #4C394E;
    justify-content: space-between;
    padding: 32px 52px;

    p {
        color: white;
    }
}
