@mixin text-decoration($text-color) {
    color: $text-color;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
@mixin btn($bg-color) {
    padding: 10px 24px;
    color: #F8FDFE;
    background-color: $bg-color;
    width: 100%;
    border: none;
    border-radius: 4px;
}
@mixin book-price($price-color) {
    color: $price-color;
    font-size: 24px;
    font-family: Cabin;
    font-weight: 500;
    line-height: 32px;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 16px;
}